body{

    background-color: rgb(220, 247, 229);
    background-image: linear-gradient(to right, #ffffff, rgba(152, 248, 184, 0.11));
    margin-top: 150px;
    width: 100%;
    margin: auto;
    padding: 0;
    text-transform: uppercase;
}
form {
    /*borda*/
    background-attachment: fixed;
    position: relative;
    align-content: center;
    background: rgba(128, 128, 128, 0.082);   
    margin:0 auto;
    padding: 120px;
    left: 40%;
    top: -25px;
    font-family: 'Poppins', sans-serif;
}
.wave{
    width: 40%;
    position: fixed;
	bottom: 0;
    left: 0;
	height: 100%;
	z-index: -1;
}
.atributos1{
    font-family: 'Poppins', sans-serif;
    width: 80%;
    border: none;
}
h1{
    
    color:rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
   
}
h2{
    font-family: 'Do Hyeon', sans-serif;
    background-attachment: fixed;
    font-size: 40px;
    position: fixed;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    width: 23px;
    height: 45px;
    text-align: left;
    border-radius: 30%;
    left: 50px;
    top: 20px;
    background-color:#39D69C;
    position: fixed;
    text-transform: none;
    white-space: nowrap;
}
.logo{
    background-attachment: fixed;
    width: 350px;
    left: 60px;
    top: 40px;
    position: fixed;
}
h3{
    
    background-attachment: fixed;
    font-size: 15px;
    position: fixed;
    font-size-adjust: none;
    position: absolute;
    left: 140px;
    top: 80px;
    position: fixed;
    text-transform: none;
}
button{  
    background: rgb(1, 109, 95);
    cursor: pointer;
    box-shadow: none;
    height: 25px;
    width: 60px;
    margin: 5px;
    font-size: 13px;
    border-radius: 10%;
    cursor: pointer;
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);*/
}
input{
    border: 10vh;
    font-family: Arial, Helvetica, sans-serif;
}

.nome input{
    padding: 4px;
    width: 250px;
    display: block;
}

.sobrenome input{
    padding: 4px;
    width: 250px;
    display: block;
}

.email input{
    padding: 4px;
    width: 250px;
    display: block;
}

.data input{
    
    padding: 10%;
    width: 10px;
    display: block;
}

.senha input{
    padding: 4px;
    width: 250px;
    display: block;
}

.telefone input{
    padding: 4px;
    width: 250px;
    display: block;
}

.cpf input{
    padding: 4px;
    width: 250px;
    display: block;
}

.cep input{
    padding: 4px;
    width: 250px;
    display: block;
}

.endereco input{
    padding: 4px;
    width: 250px;
    display: block;
    
}

.sexo {
    font-family: 'Poppins', sans-serif;

}
.form-group{
    font-family: 'Poppins', sans-serif;
    border-radius: 0px;
}

.enviar input{
    background: rgb(1, 109, 95);
    margin: 7px;
    height: 25px;
    width: 70px;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);

   
}
.atributos1 input{
    
    width: 450px;
    height: 10px;
    padding: 15px;       
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap :0rem;
    padding: 0 10rem;
    margin-top: 3rem;
}
.img img{
    width: 250px;
    height: 300px;
    position: fixed; 
    top: 320px; left: 100px;

}
  a {
      color:rgb(1, 109, 95);
      font-family: 'Poppins', sans-serif;
      margin-left: 150px;
      height: 50px;
      width: 100px;
  }
  